<aside class="span3 dashboard">
	<ul class="nav nav-list">
	  	<li class="nav-header">Manage Pages</li>
	  	<li><%= link_to 'New Page', new_admin_page_url %></li>
	  	<li><%= link_to 'Pages', admin_pages_url %></li>
	  	<li class="nav-header">Manage Categories</li>
	  	<li class="active"><%= link_to 'New Category', new_admin_category_url %></li>
	   	<li><%= link_to 'Categories', admin_categories_url %></li>
	  
	  	<li class="nav-header">Manage Users</li>
	  	<li><%= link_to 'New User', new_admin_user_url %></li>
	  	<li><%= link_to 'Users', admin_users_url %></li>
	</ul>
</aside><!--/.span3 -->
