<% title @page.title %>

  <div id="content" class="aboutus">
    <section>
      <div class="container">
        <div class="row-fluid">
          <div class="span5">
            <%= image_tag(@page.photos.first.image_url(:featured)) if @page.photos.first.present? %>
          </div>
          <div class="span7">
            <h2 class="ubuntu"><%= @page.title %></h2>
            <% if @page.price %>
            	<h3>Price: <%= number_to_currency @page.price, :unit => 'Kes' %></h3>
              <hr>
              
            <% end %>
            <%= @page.short_description.html_safe     %>
            <hr>
            
          </div>
        </div>
    </section>
    <section>
      <div class="container">
        <div class="row-fluid">
          <div class="span7">
            <h2 class="ubuntu">Features & Specifications</h2>
             <%= simple_format(@page.long_description.html_safe) %>
          </div>
          <div class="span5">
            <%= image_tag(@page.photos.second.image_url(:featured)) if @page.photos.second.present? %>
          </div>
        </div>
    </section>
    <% if @page.is_product? %>
	    <section>
	      <div class="container">
	        <div class="row-fluid">
	          <div class="span5">
	            <%= image_tag(@page.photos.third.image_url(:featured)) if @page.photos.third.present?%>
	          </div>
	          <div class="span7">
	            <h2 class="ubuntu">Reviews</h2>
	           <div class="fb-comments" data-href="<%= product_url(@page) %>" data-num-posts="3" data-width="500"></div>
	          </div>
	        </div>
	    </section>
   <% end %>
  </div>