<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
	<% if current_user.is_admin? %>
  		<li>
  			<%= link_to 'Account', :class => 'account_list' %>
			<ul>
				<li><%= link_to "Logout", destroy_user_session_path, :method=>'delete' %></li>  
				<li><%= link_to 'Edit account', edit_user_registration_path %></li>	      
  			</ul>
		</li>
  		<li>
  			<%= link_to 'Manage Users', admin_users_path %>        
  		</li>
  		<li>
  			<%= link_to 'Manage Pages', admin_pages_path %>        
  		</li>
  		<li>
  			<%= link_to 'Manage Categories', admin_categories_path %>        
  		</li>
    <% else %>
		<li>
    		<%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
    	</li>
    	<li>
    		<%= link_to 'Edit account', edit_user_registration_path %>
    	</li>
	<% end %>	
  <% else%>
    <li>
    	<%= link_to 'Login', new_user_session_path %>  
    </li>
    <li>
    	<%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>